.add_icone::after {
  content: '';
  background-image: url('../assets/images/andrea-logo.png');
  width: 45px;
  height: 45px;
  display: inline-block;
  background-size: contain;
  position: absolute;
  top: 10px;
  left: 10px;
}
#row_data #maindivrow {
  position: relative;
  transition: 0.2s ease;
  cursor: pointer;
  margin: 0px;
}
.MuiTypography-h2 {
  font-family: Poppins !important;
  font-size: 30px !important;
  font-weight: 700 !important;
  margin-left: 20px !important;
}
#row_data {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  overflow: scroll;
  padding: 100px 20px;
  position: relative;
  margin-top: -60px;
  cursor: pointer;
}
#row_data #maindivrow:hover {
  scale: 1.2;
  transition-delay: 0.2s;
  transition: 0.2s ease;
  z-index: 5;
}
#imagenormal {
  filter: blur(20px);
  opacity: 0%;
  transition: 0.2s;
}
#row_data #maindivrow:hover #imagenormal {
  opacity: 100%;
  transition: 0.2s;
}
#blurimage {
  position: absolute;
  left: 0;
}
#row_data {
  margin-bottom: -50px;
}

.css-hyum1k-MuiToolbar-root {
  gap: 20px !important;
}
img {
  transition: 0.2s;
  max-height: 200px;
}
#maindivrow:hover img {
  border-radius: 10px 10px 0px 0px;
  transition: 0.2s;
}

#row_data #maindivrow:hover .toolbox {
  opacity: 100%;
}

#row_data::-webkit-scrollbar {
  display: none;
}

.icons_set {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.icons_set button:last-child {
  margin-left: auto;
}
.icons_set button:first-child {
  background-color: white;
  color: black;
}

.icons_set button {
  width: 17px;
  padding: 15px;
  background-color: #ffffff20;
  border-radius: 50%;
  transition: 0.2s ease;
  font-size: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.icons_set button:hover {
  background-color: #ffffff50;
  transition: 0.2s ease;
}

.icons_set svg {
  width: 17px;
  cursor: pointer;
}
.toolbox {
  padding: 10px;
  background-color: #ffffff10;
  transition: 0.2s;
  opacity: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: -10px;
  border-radius: 0px 0px 10px 10px;
}

.topinfos svg {
  color: rgb(255, 200, 0);
  height: 20px;
  cursor: pointer;
}
.topinfos,
.topinfos span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.topinfos {
  position: absolute;
  bottom: 50px;
  width: 95%;
}
.delete-toolbox {
  display: none !important;
}

#first_row {
  margin-top: -100px;
}

.liked {
  color: red;
}

#loveButton {
  color: red;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  animation: pulse-red 10s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.55);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  10% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  90% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  100% {
    transform: scale(0.55);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
